# Database
MYSQL_DATABASE=lims_db
MYSQL_USER=lims_user
MYSQL_PASSWORD=lims_password
MYSQL_ROOT_PASSWORD=root_password
DB_HOST=db
DB_PORT=3306

# Django
SECRET_KEY=django-insecure-mock-key-for-dev
DEBUG=True
ALLOWED_HOSTS=*

# Redis & Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# ChromaDB
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000

# HuggingFace
HUGGINGFACE_API_KEY=mock_key

# Cấu hình gửi Email thật (SMTP)
# Đổi EMAIL_BACKEND thành 'django.core.mail.backends.smtp.EmailBackend' để gửi thật
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=your_email@gmail.com
