# Database
MYSQL_DATABASE=lims_db
MYSQL_USER=lims_user
MYSQL_PASSWORD=lims_password
MYSQL_ROOT_PASSWORD=root_password
DB_HOST=db
DB_PORT=3306

# Django
SECRET_KEY=django-insecure-mock-key-for-dev
DEBUG=True
ALLOWED_HOSTS=*

# Redis & Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
