<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard (Thống kê Thư viện)</h1>
    <ul>
        <li><strong>Tổng sách:</strong> {{ total_books }}</li>
        <li><strong>Tổng User:</strong> {{ total_users }}</li>
        <li><strong>Đang mượn:</strong> {{ total_borrowed }}</li>
        <li><strong>Quá hạn:</strong> {{ total_overdue }}</li>
    </ul>
</body>
</html>
